<div class="card">
    <h1>categoria</h1>

    <p-button (Click)="mostrarDialog()" label="Show" />
<p-dialog 
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <p>
            Lorem ipsum dolor sit amet...
        </p>
</p-dialog>

    <p-table [value]="categorias" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th> 
                <th>DETALLE</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>{{categoria.id}}</td>
                <td>{{categoria.nombre}}</td>
                <td>{{categoria.detalle}}</td>
            </tr>
        </ng-template>
    </p-table>
    <ul>
      @for (cat of categorias; track $index){
        <li>{{cat.nombre}}</li>
      }
    </ul>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
            @for (cat of categorias; track $index){
                <tr>
                    <td>{{cat.id}}</td>
                    <td>{{cat.nombre}}</td>
                    <td>{{cat.detalle}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>